.main {
    background-color: #350225;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 50px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-evenly;
    width: 60%;
    height: 100%;
}
.right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
}

.eventimg1 {
    object-fit: contain;
    height: 25%;
    max-width: 50%;
    opacity: 0;
}

.memories {
    font-size: 70px;
    font-weight: normal;
    margin-left: 200px;
}

.img1 {
}

.img2 {
    height: 37.5%;
    margin-left: 50%;
    width: auto;
}

.img3 {

    height: 37.5%;
}