

.parallax-inner > * {
    top: 0% !important;
    bottom: 0% !important;  
}
/* .parallax-banner-layer-6{
    animation: fogMovementRev 250s linear infinite;
} */

.parallax-banner-layer-3 {
    animation: fogMovement 60s linear infinite;
}

/* .parallax-banner-layer-10 {
    animation: fogMovementRev 90s linear infinite;
} */

@keyframes fogMovement{
    0%{background-position: 0 0;}
    100%{background-position: 100vw 0;}
}
  
@keyframes fogMovementRev{
    0%{background-position: 0 0;}
    100%{background-position: -100vw 0;}
}

@font-face {
    font-family: vcrOsdMono;
    src: local('vcrOsdMono'), url(./../fonts/VCR_OSD_MONO_1.001.ttf) format('truetype');
}


/* TODO: These are leftoever from old site Move to inline? */
.grid-item {
    text-align: center;
    width: 100%;
    font-family: 'Seravek', sans-serif;
    font-size: 1.17em;
    line-height: 1.5;
    margin-left: auto !important;
    margin-right: auto !important; 
}


.grid-item h3 {
    margin:0;
    font-weight: normal;
    font-size: 1em;
}

.grid-item img {
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 5px;
    border-radius: 100%;
    margin-left: auto !important;
    margin-right: auto !important; 
}
  
.social-icon {
    width: 20px !important;
    height: 20px  !important;
    box-shadow: none !important;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
}


@font-face {
    font-family: 'VCR OSD Mono';
    src: url('./VCR_OSD_MONO_1.001.ttf')  format('truetype');
  }

  @font-face {
    font-family: 'PT Sans';
    src: url('./PT_Sans-Web-Regular.ttf')  format('truetype');
  }

