.match-list-container {
  padding: 2rem;
  background-color: white;
}

.match-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.match-card {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 10px;
  background-color: #f9f9f9;
  transition: 0.3s;
}

.match-card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
