@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
* {
    font-family: "Abel";
}

html {
  scroll-snap-type: y mandatory;
  /* to hide scroll bar */
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.fullscreen {
  position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #350225;
    font-size: 30px;
    margin: 0;
    color: white;
    scroll-snap-align: start;
    z-index: -2;

}
.guidingText {
  font-weight: normal;
  font-size: 40px;
  padding: 20px
}
.up {
  position: fixed;
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: center;
  top: 0px;
  left: 0px;
}

.down {
    position: fixed;
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    bottom: 0px;
    left: 0px;
  }

  .downbutton {
    height: 7vh;
    background-color: transparent;
    border: none;
  }
  
  .downbutton:hover {
    opacity: 0.5;
  }

  .downbutton:active {
    opacity: 1;
  }

  .downchevron {
    width: 8vh;
    height: 4vh;
  }