@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
* {
    font-family: "Abel";
}
.fullscreen {
    width: 100vw;
    height: 100vh;
    background-color: #350225;
    padding: 50px;
    font-size: 30px;
    margin: 0;
    color: white;
}

.down {
    position: fixed;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    bottom: 0px;
    left: 0px;
  }

  .downbutton {
    height: 5vh;
    background-color: transparent;
    border: none;
  }
  
  .downbutton:hover {
    opacity: 0.5;
  }
  
  .downchevron {
    width: 8vh;
    height: 4vh;
  }