html,body { 
    box-sizing: border-box; 
    font-family: 'Open Sans', sans-serif; 
    margin:0;
    padding:0;
    color:inherit;
    background-color:inherit;
 }

body {
    background-image: url(2021_theme.png);
    background-size:  cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 100px;
}

.register-wrapper {
    height: auto;
    width: 90vw;
    max-width: 50em;
    /* margin-left: 15vw;
    margin-right: 15vw; */
    /* margin-left: 10vw;
    margin-right: 10vw; */
    margin:auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
    overflow: hidden; 
    background-color: rgba(240, 240, 240, 0.788);
}

#graphic {
    max-height: 25em;
    max-width: 25em;
    min-height: 13em;
    min-width: 13em;
}

#register {
    padding: 10px;
}