*{
    color: white;
    font-size: 50px;
}
.mainstat {
    background-color: #350225;
    width: 95%;
    height: 85%;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
    gap: 10px;
    padding: 50px;
    padding-top: 20px;
}

.number {
    font-size: 90px;
}
.final {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #532846;
    border-radius: 20px;
    text-align: center;
}

.statText {
    font-size: 50px;
    font-weight: normal;
    margin: 0;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    min-width: 400px;
    flex-basis: 3;
    flex-grow: 3;
    gap: 10px;
    height: 100%;
}

.horiBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-between;
    gap: 10px;
    
    flex-basis: 1;
    flex-grow: 1;
    flex-shrink: 1;
}


.mainStat {
    background-image: url("https://hophacks-website.s3.amazonaws.com/images/mainstat.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: border-box;
}

.bgOpacity {
    background-color: rgba(0, 0, 0, 0.644);
    background-blend-mode: darken;
}
.bgOpacityLess {
    background-color: rgba(0, 0, 0, 0.253);
    background-blend-mode: darken;
}