body {
  background-image: url('https://hophacks-website.s3.amazonaws.com/images/About.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #e1f1ff;
}
