.title {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.background-image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: .1;
    position: absolute;
}

.titleDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scrollText {
    font-style: italic;
    font-weight: normal;
    font-size: 30px;
    margin: 0;
    opacity: 0;
}

.centered-number {

    font-size: 600px;
    font-family: 'Inter', sans-serif;
    background-image: url(
"../../public/images/event5.jpeg");
    background-size: contain;
    -webkit-background-clip: text;
        /* -webkit-text-fill-color: transparent; */
    font-weight: 600;
    color: #c075a977;
    text-align: center;
    
}