flask==1.1.2
pymongo==3.11.2
pyjwt==1.7.1
flask_jwt_extended==3.25.0

Flask-Mail==0.9.1
boto3==1.13.18

bcrypt==3.2.0

pytest==5.4.2

boto3==1.13.18
Jinja2==2.10.1
markupsafe==1.1.1
itsdangerous==1.1.0
werkzeug==2.0.3
slack-sdk==3.17.0
slack-webhook==1.0.7
discord-webhook==0.16.3
framer-motion==6.4.3


sphinx
sphinxcontrib-httpdomain
