alabaster==0.7.16
attrs==23.2.0
Babel==2.14.0
bcrypt==3.2.0
blinker==1.7.0
boto3==1.36.16
botocore==1.36.16
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
discord-webhook==0.16.3
docutils==0.15.2
Flask==1.1.2
Flask-Cors==4.0.0
Flask-JWT-Extended==3.25.0
Flask-Mail==0.9.1
idna==3.6
imagesize==1.4.1
importlib_metadata==7.0.2
itsdangerous==1.1.0
Jinja2==3.0.3
jmespath==0.10.0
MarkupSafe==2.1.1
more-itertools==10.2.0
packaging==24.0
pluggy==0.13.1
py==1.11.0
pycparser==2.21
Pygments==2.17.2
PyJWT==1.7.1
pymongo==3.11.2
pytest==5.4.2
python-dateutil==2.9.0.post0
pytz==2025.1
requests==2.31.0
s3transfer==0.11.2
six==1.16.0
slack-sdk==3.17.0
slack-webhook==1.0.7
snowballstemmer==2.2.0
Sphinx==5.3.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-httpdomain==1.8.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
urllib3==1.26.18
wcwidth==0.2.13
Werkzeug==2.0.3
zipp==3.18.1
