name: Prettier

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'
    types: [opened, reopened]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Dependencies
        run: npm install -g prettier@3.5.1
      - name: Run Prettier
        working-directory: ./frontend
        run: npx prettier "**/*.{js,jsx,ts,tsx}" --check
